.markdown-render .copy-code-btn {
  display: block;
  margin-left: auto;
  padding: 0.2rem;
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: 0.4rem;
  border-width: 1px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}